@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    .header-right, .header-right{
        display: inline;
    }
    body > footer{
        overflow: auto;
    }

    
  }
  
@media (min-width: 768px) and (max-width: 1024px) {
    .header-middle, .header-right{
        display: none;
    }    
    body > header > section{
        justify-content: center;
    }
    body > header{
        background-color:rgba(101, 193, 190, 0);
    }
    footer{
        overflow: hidden;
    }
    .contact{
        margin-left: 387px;
    }
    .first_row_cards, .first_row_cards_2{
        /* flex-wrap: wrap; */
        justify-content: center;
    }

  }
    

  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .header-middle, .header-right{
        display: none;
    }    
    body > header > section{
        justify-content: center;
    }
    body > div.container > section > div.flex_area{
        padding-top: 15%;
        padding-bottom: 10%;
        flex-direction: column;
    }
    .subscribe_form{
        width: 100%;
    }
    .icons{
        padding-top: 12%;
        padding-left: 10%;
        padding-bottom: 1%;
    }
    .contact{
        margin-left: 260px;
    }
    body > footer{
        overflow: auto;
    }
    .first_row_cards, .first_row_cards_2{
        flex-wrap: wrap;
        justify-content: center;
    }


    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .header-middle, .header-right{
        display: none;
    }    
    body > header > section{
        justify-content: center;
    }
    body > div.container > section > div.flex_area{
        padding-top: 15%;
        padding-bottom: 10%;
        flex-direction: column;
    }
    .subscribe_form{
        width: 100%;
    }
    .contact {
        margin-left: 80px;
    }
    .contact p {
        font-size: 100%;
    }
    footer{
        overflow: hidden;
    }
}    